<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reaper</title>
    <script type="text/javascript" src=<%= htmlWebpackPlugin.options.systemConfig %>></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
